<% @section = t("sections.admin") %>

<h3><%= t('machines.edit') %></h3>

<% form_for :virtual_machine, @virtual_machine, :url => admin_virtual_machine_path(@virtual_machine), :html => { :method => :put } do |f| %>
	<%= f.error_messages %>
	<%= f.error_message_on :master %>
		
    <div class="virtual-machine admin-form">
        <p>
        	<%= f.label :created_at %>
	        <%=h @virtual_machine.created_at %>
	    </p>
	    <p>
        	<%= f.label :public_uuid %>
	        <%=h @virtual_machine.public_uuid %>
	    </p>
	    <p>
        	<%= f.label :uuid %>
	        <%=h @virtual_machine.uuid %>
	    </p>
	    <p>
        	<%= f.label :name %>
	        <%=h @virtual_machine.name %>
	    </p>
	    <p>
        	<%= f.label :cpus %>
	        <%= f.text_field :cpus %>
	    </p>
	    <p>
        	<%= f.label :memory %>
	        <%= f.text_field :memory %>
	    </p>
	    <p>
        	<%= f.label :hdd %>
	        <%= f.text_field :hdd %>
	    </p>
	    <p>
        	<%= f.label :status %>
	        <%= f.text_field :status %>
	    </p>
	    <p>
        	<%= f.label :mac %>
	        <%=h @virtual_machine.name %>
	    </p>	    
	
    	<br>
	
	    <h4><%=h t('machines.public_ip') %></h4>
   		<% f.fields_for :public_ip do |p| %>
		    <p>
	        	<%= p.label :address %>
		        <%= p.text_field :address %>
		    </p>
		    
            <legend><%=h "ip_range" %></legend>
       		<% p.fields_for :ip_range do |r| %>
	            <p>
                	<%= r.label :address %>
	                <%= @virtual_machine.public_ip.ip_range.address %>
	            </p>
	            <p>
                	<%= r.label :mask %>
	                <%= @virtual_machine.private_ip.ip_range.mask %>
	            </p>
            <% end %>
		    
	    <% end %>
	
    	<br>
	
	    <h4><%=h t('machines.private_ip') %></h4>
   		<% f.fields_for :private_ip do |p| %>
		    <p>
	        	<%= p.label :address %>
		        <%= p.text_field :address %>
		    </p>
		    
            <h5><%=h "ip_range" %></h5>
       		<% p.fields_for :ip_range do |r| %>
	            <p>
                	<%= r.label :address %>
	                <%= @virtual_machine.private_ip.ip_range.address %>
	            </p>
	            <p>
                	<%= r.label :mask %>
	                <%= @virtual_machine.private_ip.ip_range.mask %>
	            </p>
            <% end %>
		    
	    <% end %>
	
    	<br>
	
	    <h4><%=h t('account.title') %></h4>
	    <p>
        	<label><%=h t('account.login') %></label>
	        <span class="value"><%= @virtual_machine.account.try(:login) %></span>
	    </p>   
	    <p>
        	<label><%=h t('account.created_at') %></label>
	        <span class="value"><%= @virtual_machine.account.try(:created_at) %></span>
	    </p>
	    <p>
        	<label><%=h t('account.maximum_machine_count') %></label>
	        <span class="value"><%= @virtual_machine.account.try(:maximum_machine_count) %></span>
	    </p>
        <p>
        	<label><%=h t('account.maximum_memory') %></label>
            <span class="value"><%= @virtual_machine.account.try(:maximum_memory) %></span>
        </p>
        <p>
        	<label><%=h t('account.maximum_hdd') %></label>
            <span class="value"><%= @virtual_machine.account.try(:maximum_hdd) %></span>
        </p>
        <p>
        	<label><%=h t('account.maximum_cpus') %></label>
            <span class="value"><%= @virtual_machine.account.try(:maximum_cpus) %></span>
        </p>        			    
	
    	<br>
	
	    <h4><%=h t('system_image.title') %></h4>
	    <p>
        	<label><%= h t('system_image.code') %></label>
	        <span class="value"><%= @virtual_machine.system_image.code %></span>
	    </p>
			    
    	<br>
	
	    <h4><%=h t('machines.zone') %></h4>

	    <p>
        	<label><%=h t('zones.name') %></label>
	        <span class="value"><%= @virtual_machine.zone.try(:name) %></span>
	    </p>
	    <p>
        	<label><%=h t('zones.number') %></label>
	        <span class="value"><%= @virtual_machine.zone.try(:number) %></span>
	    </p>
        <p>
        	<label><%=h t('hosts.name') %></label>
            <span class="value"><%= @virtual_machine.zone.try(:master).try(:name) %></span>
        </p>
        <p>
        	<label><%=h t('hosts.ip') %></label>
            <span class="value"><%= @virtual_machine.zone.try(:master).try(:ip) %></span>
        </p>
	
        <br>	
	
	    <h4><%=h t('vlan.title') %></h4>
	    <p>
        	<label><%= h t('vlan.number') %></label>
	        <span class="value"><%= @virtual_machine.vlan.try(:number) %></span>
	    </p>   
	    <p>
        	<label><%=h t('zones.name') %></label>
	        <span class="value"><%= @virtual_machine.vlan.try(:zone).try(:name) %></span>
	    </p>
	    <p>
        	<label><%=h t('zones.number') %></label>
	        <span class="value"><%= @virtual_machine.vlan.try(:zone).try(:number) %>
	    </p>
        <p>
        	<label><%=h t('hosts.name') %></label>
            <span class="value"><%= @virtual_machine.vlan.try(:zone).try(:master).try(:name) %></span>
        </p>
        <p>
        	<label><%=h t('hosts.ip') %></label>
            <span class="value"><%= @virtual_machine.vlan.try(:zone).try(:master).try(:ip) %></span>
        </p>
        
        <br>
        
        <h4><%=h t('machines.errors') %></h4>
          
        <p>
        	<label><%= h t('machines.error_messages') %></label>
	        <span class="value"><%= @virtual_machine.errors.full_messages %></span>
	    </p>    
	    
	    <br> 
        
   	</div>
	
	<br>
	
	<p class="submit">
		<%= submit_tag t('machines.save') %>
		<%= link_to t('cancel'), admin_virtual_machines_path %>
	</p>
<% end %>
