<% @section = t("sections.new_zone") %>

<% form_for :zone, @zone, :url => admin_zones_path do |f| %>
	<%= f.error_messages %>
	<%= f.error_message_on :master %>
	<fieldset class="zone">
    	<legend><%=h t('zones.title') %></legend>
		<p>
	    	<%= f.label :name %>
		    <%= f.text_field :name %>
		</p>
		<p>
	    	<%= f.label :priority %>
		    <%= f.text_field :priority %>
		</p>
		<p>
	    	<%= f.label :number %>
		    <%= f.text_field :number %>
		</p>
	</fieldset>
    <fieldset class="host">
		<legend><%=h t('hosts.master') %></legend>
   		<% f.fields_for :master do |m| %>
			<p>
		    	<%= m.label :name %>
			    <%= m.text_field :name %>
			</p>
			<p>
		    	<%= m.label :ip %>
			    <%= m.text_field :ip %>
			</p>
			<p>
		    	<%= m.label :username %>
			    <%= m.text_field :username %>
			</p>
			<p>
		    	<%= m.label :password %>
			    <%= m.password_field :password %>
			</p>
		<% end %>
	</fieldset>
	<p class="submit">
		<%= submit_tag t('zones.create') %>
		<%= link_to t('cancel'), admin_zones_path %>
	</p>
<% end %>