<div id="step3" class="step hidden">
	<%= form.hidden_field :system_image_id %>
	<%= form.hidden_field :memory %>
	<%= form.hidden_field :hdd %>
	<%= form.hidden_field :cpus %>

	<h3><%= t("new_instance.confirm") %></h3>
	<p class="step-counter"><%= t("step", :current => 3, :total => 3) %></p>
	<div id="scroller">
		<div id="vm-description" class="details">
			<h4><%= t("new_instance.image") %></h4>
		</div>

		<div class="details">
			<h4><%= t("new_instance.settings") %></h4>
			<ul>
				<li class="memory"><%= t("new_instance.memory_ram", :size => "1GB") %></li>
				<li class="cpu"><%= t("new_instance.vcpus", :count => 10) %></li>
				<li class="storage"><%= t("new_instance.storage_size", :size => "2GB") %></li>
			</ul>
		</div>

		<div class="details">
			<h4><%= t("new_instance.password") %></h4>

			<div class="field">
				<%= form.password_field :password %>
				<span class="hint"><%= t("new_instance.password_hint") %></span>
			</div>

			<div class="field">
				<%= form.password_field :password_confirmation %>
				<span class="hint"><%= t("new_instance.password_confirmation_hint") %></span>
				<%= image_tag "weak.png", :id => "strength" %>
			</div>
		</div>

		<p class="details">
			<%= form.check_box :terms %>
			<%= form.label :terms, t("new_instance.terms") %>
		</p>
	</div>

	<ul class="actions">
		<li><span class="prev"><%= t("previous") %></span></li>
		<li><span class="next"><%= t("new_instance.start_instance") %></span></li>
	</ul>
</div>
