<div id="step4" class="step hidden">
	<h3><%= t("pre_install.finishing") %></h3>
	<div id="scroller">
		<div id="statuses">
			<div id="pre-install-status" class="running">
				<h4><%= t("pre_install.setup") %></h4>
			</div>

			<div id="installing-status" class="hidden">
				<h4><%= t("pre_install.installing") %></h4>
				<p><%= t("pre_install.installing_details") %></p>
			</div>

			<div id="installed-status" class="hidden">
				<h4><%= t("pre_install.installed") %></h4>
			</div>
		</div>
	</div>

	<ul class="actions">
		<li><span class="prev hidden"><%= t("previous") %></span></li>
		<li><span class="next"><%= t("close_window") %></span></li>
	</ul>
</div>
