<div id="step2" class="step hidden">
	<h3><%= t("new_instance.configure") %></h3>
	<p class="step-counter"><%= t("step", :current => 2, :total => 3) %></p>
	<div id="scroller">
		<div id="memory" class="slider-container">
			<h4><%= t("new_instance.memory") %></h4>
			<div class="slider"></div>
			<span class="display"><strong>512MB</strong>RAM</span>
		</div>

		<div id="cpu" class="slider-container">
			<h4><%= t("new_instance.processing") %></h4>
			<div class="slider"></div>
			<span class="display"><strong>1</strong>vCPUs</span>
		</div>

		<div id="storage" class="slider-container">
			<h4><%= t("new_instance.storage") %></h4>
			<div class="slider"></div>
			<span class="display"><strong>1GB</strong></span>
		</div>
	</div>

	<ul class="actions">
		<li><span class="prev"><%= t("previous") %></span></li>
		<li><span class="next"><%= t("next") %></span></li>
	</ul>
</div>