<% form_for @machine do |f| %>
	<%= f.error_messages %>

	<p>
		<%= f.label :system_image_id %>
		<%= f.collection_select :system_image_id, SystemImage.all, :id, :description %>
	</p>

	<p>
		<%= f.label :cpus %>
		<%= f.select :cpus, [1,2,4] %>
	</p>

	<p>
		<%= f.label :hdd %>
		<%= f.select :hdd, [['10 GB', 10], ['20 GB', 20], ['30 GB', 30]] %>
	</p>

	<p>
		<%= f.label :memory %>
		<%= f.select :memory, [['512 MB', 512], ['1 GB', 1024], ['2 GB', 2048]] %>
	</p>

	<p>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</p>

	<p>
		<%= f.submit t("buttons.create"), :id => "create" %>
	</p>
<% end %>
