<div class="title">
	<h3><%= @machine.name %></h3>
	<ul class="machine-actions">
		<li class="force-restart">
			<%= link_to t('machines.commands.force_restart'), confirm_run_virtual_machine_path(@machine, "force_restart"),
			 		:title => t('machines.commands.force_restart') %>
		</li>
		<li class="restart">
			<%= link_to t('machines.commands.restart'), confirm_run_virtual_machine_path(@machine, "restart"),
					:title => t('machines.commands.restart') %>
		</li>
		<li class="uninstall">
			<%= link_to t('machines.uninstall'), confirm_run_virtual_machine_path(@machine, "uninstall"),
			        :title => t('machines.uninstall')%>
		</li>
		<li class="console">
			<%= link_to t('machines.console'), virtual_machine_console_path(@machine),
 					:title => t('machines.console')%>
		</li>
	</ul>
</div>

<dl class="machine-details">
	<dt><%= t('machines.created_at') %></dt>
	<dd><%= l(@machine.created_at, :format => :short) %></dd>
	
	<dt><%= t('machines.public_ip') %></dt>
	<dd><%= @machine.public_ip %></dd>
	
	<dt><%= t('machines.private_ip') %></dt>
	<dd><%= @machine.private_ip %></dd>
	
	<dt><%= t('machines.settings') %></dt>
	<dd>
		<ul>
			<li><%= t 'new_instance.vcpus', :count => @machine.cpus %></li>
			<li><%= t 'new_instance.memory_ram', :size => number_to_human_size(@machine.memory.megabytes) %></li>
			<li><%= t 'new_instance.storage_size', :size => number_to_human_size(@machine.hdd.gigabytes) %> </li>
		</ul>
	</dd>
</dl>

<div class="title">
	<h4><%= t 'machines.charts'%></h4>
</div>
<div class="charts">
  <%= graph_tag @machine.cpu_graph_path %>
  <%= graph_tag @machine.memory_graph_path %>
  <%= graph_tag @machine.io_graph_path %>
</div>

<div class="title">
	<h4><%= t 'machines.snapshots' %></h4>
	<%= link_to t('snapshots.create'), new_virtual_machine_snapshot_path(@machine), :class => 'create', :id => 'create-snapshot' %>
</div>

<table class="snapshots listing">
	<thead>
		<tr>
			<th><%= t('snapshots.name') %></th>
			<th><%= t('snapshots.taken_at') %></th>
			<th><%= t('snapshots.actions') %></th>
		</tr>
	</thead>		
	<tbody>
		<% for snapshot in @machine.snapshots %>
			<tr>
				<td><%=h snapshot.name %></td>
				<% if snapshot.pending? %>
					<td class="pending"><%= t('snapshots.running') %></td>
					<td class="spinner"></td>
				<% else %>
					<td><%=h l(snapshot.taken_at, :format => :short) %></td>
					<td>
						<ul class="snapshot-actions">
							<li>
								<%= link_to t('snapshots.revert'),
										confirm_revert_virtual_machine_snapshot_path(@machine, snapshot), 
										:title => t('snapshots.revert_to_this'), :class => "revert" %>
							</li>
							<li>
								<%= link_to t('snapshots.remove'), remove_virtual_machine_snapshot_path(@machine, snapshot), 
										:title => t('snapshots.remove'), :class => "remove" %>
							</li>
						</ul>
					</td>	
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<div class="title">
	<h4><%= t 'machines.firewall_rules' %></h4>
	<%= link_to t('firewall_rules.create'), new_virtual_machine_firewall_rule_path(@machine),
			:class => 'create', :id => "create-firewall-rule" %>
</div>
<table class="firewall_rules listing">
	<thead>
		<tr>
			<th><%= t('firewall_rules.description') %></th>
			<th><%= t('firewall_rules.filter_protocol') %></th>
			<th><%= t('firewall_rules.filter_address') %></th>
			<th><%= t('firewall_rules.filter_port') %></th>
			<th><%= t('firewall_rules.actions') %></th>
		</tr>
	</thead>		
	<tbody>
		<% for rule in @machine.filter_rules %>
			<tr>
				<td><%=h rule.description %></td>
				<% if rule.pending? %>
					<td class="pending" colspan="3"><%= t('firewall_rules.running') %></td>
					<td class="spinner"></td>
				<% else %>
					<td><%=h rule.filter_protocol %></td>
					<td><%=h rule.filter_address %></td>
					<td><%=h rule.filter_port %></td>
					<td>
						<%= link_to t('firewall_rules.remove'), remove_virtual_machine_firewall_rule_path(@machine, rule), 
							:title => t('firewall_rules.remove'), :class => "remove" %>
					</td>				
				<% end %>
				
			</tr>
		<% end %>
	</tbody>
</table>
