<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title><%= title %></title>
	<meta name="rails-controller" content="<%= controller.controller_name %>" />
	<meta name="rails-action" content="<%= controller.action_name %>" />

	<%= stylesheet_link_merged :main %>
</head>

<body class="<%= controller.controller_name %>-page <%= I18n.locale %>">
<div id="page" class="<%= controller.action_name %>-section">
	<div id="header">
		<h1><a href="http://www.locaweb.com.br">Locaweb</a></h1>
		<h2><%= link_to t("breadcrumbs.home"), root_path %></h2>
		<%= link_to "#{t("logout")} (#{@current_account.user})", logout_path, :id => 'logout' %>
		<a href="#" id="init-instance"><%= t("new_instance.start") %></a>
		<%= breadcrumbs.render %>
	</div>

	<div id="content">
		<div id="main">
			<%= flash_messages %>
			<%= yield %>
		</div>

		<!--div id="sidebar">
			<ul id="menu">
				<li class="new-instance"><a href="#" id="init-instance">Iniciar nova instância</a></li>
				<li class="dashboard"><a href="#">Dashboard</a></li>
				<li class="instances"><a href="#">Instâncias</a></li>
			</ul>

			<%= content_for :sidebar %>
		</div-->
	</div>
</div>

<div id="footer">
	<%= t("copyright.company", :year => Date.today.year) %><br/>
	<%= t("copyright.terms") %>
</div>

<%= javascript_include_merged :main %>
</body>
</html>
